<div class="card-container container-todo-list">
  <div class="item-todo" *ngFor="let value of taskList; index as i">
    <div class="text-todo" [class.stroke]="value.completed">{{value.name}}</div>
    <div class="group-buttons-todo">
      <button mat-icon-button color="primary" (click)="markDone(value)">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="removeTask(i)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</div>
