.container-todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  border: #ccc 2px solid;
  border-radius: 10px;
}

.item-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  padding: 0 5%;
  margin: 0;
  border-bottom: #ccc 1px solid;
}

.text-todo {
  font-size: 20px;
  font-weight: 500;
}

.stroke{
  text-decoration: line-through;
}
